body {
    margin-top: 20%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
span{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Arial';
    text-align: center;
}
.span-azul {
    color: #000FFF;
}
.span-rojo {
    color: #FF0000;
}