body{
    margin-bottom: 73px;
    background:linear-gradient(to bottom,#86dee6,#fff) no-repeat;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
  }
  a{
    text-decoration:none;
    color: #454868;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
  }
.button-1{
    border-radius: 5px;
    padding: 15px;
    background-color: #fd8f54e2;
}
.button-1:hover{
    background: #E66804;
    color: #FFF;
    cursor: pointer;
}
a:hover{
    color: #FFF;
}